<h1>¿Por qué tan pocas mujeres se dedican a la informática?</h1>

<p>Aunque en las últimas décadas las mujeres han conquistado espacios en el ámbito laboral antes reservados exclusivamente para los hombres, solo conforman una parte pequeña del sector de la informática: ocupan menos del 25% de los empleos de esa industria en todo el mundo.</p>

<p>En América Latina, hay estudios que demuestran que las carreras relacionadas con la informática son percibidas por muchas jóvenes como un ámbito "de chicos".</p>

<p>"Compara Carreras 2015" es una plataforma creada por el Instituto Mexicano para la Competitividad que analiza las consecuencias económicas de escoger una carrera en ese país.</p>

<p>En México existen 3,7 millones de estudiantes universitarios y 10 millones de profesionales.</p>

<p>Y según esta plataforma existen diferencias marcadas entre las carreras más populares según el género.</p>
<p>"Más de 80% de los ingenieros son hombres mientras que más de 70% de los profesionales en educación básica son mujeres", señala la guía.</p>
<p>Las mujeres han jugado un papel clave en el desarrollo de la computación, incluso desde inicios del siglo XIX.</p>

<p>Entonces ¿por qué todavía se percibe como un trabajo para chicos?</p>

<p>De acuerdo con expertos, existen cuatro factores que pueden estar influyendo:</p>

<p>La cultura "brogrammer" (juego de palabras en inglés que funde brother -hermano- con grammer, la última parte de la palabra programmer: programador): así se conoce a la dominación masculina, poco acogedora e incluso agresiva con que se percibe el ámbito de la computación.</p>
<p>En Silicon Valley, donde 25% de la fuerza de trabajo es masculina, las mujeres dicen que no se les motiva a perseguir empleos en la rama tecnológica por la imperante cultura de macho, "brogrammer", implantada desde los campus universitarios.</p>

<p>La familia: una encuesta reciente mostró que más de la mitad de las mujeres abandonan sus puestos en la industria tecnológica por una razón: la maternidad.</p>
<p>Muchas compañías han empezado a reconocer que hay un problema y están tomando medidas para mejorar sus políticas de contratación y las condiciones laborales.</p>

<p>Se han creado iniciativas para inspirar a más mujeres a competir por trabajos en el ámbito tecnológico y para hacer el mundo de la computación más "amigable" para ellas.</p>
<p> https://www.bbc.com/mundo/noticias/2015/10/151002_finde_tecnologia_mujeres_estudiar_computacion_ciencia_mr</p>