<h1>¿Qué puedo hacer yo por la equidad de género?</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/nnGG7-NxfYo" frameborder="0" 
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>La especialista en desarrollo social y político con una perspectiva de género en el Banco Interamericano de Desarrollo (BID) 
Clara Alemann, propone seis acciones concretas que hombres y mujeres pueden tomar en su vida diaria para contribuir a una sociedad más equitativa.</p>

<h2>Comenzaremos con dos conceptos básicos:</h2>
<p>La <b>igualdad de oportunidades</b> es un concepto que afirma que un sistema socioeconómico es justo cuando todas las personas tienen las mismas 
posibilidades de acceder al mismo bienestar social y tienen los mismos derechos.</p>
<p>La igualdad de género, según la ONU y la UNESCO se define como “la igualdad de derechos, responsabilidades y oportunidades de las mujeres y los hombres, y las niñas y los niños”. La igualdad, siguiendo a las organizaciones mencionadas, “no significa que las mujeres y los hombres sean lo mismo, sino que los derechos, las responsabilidades y las oportunidades no dependen del sexo con el que nacieron. La igualdad de género supone que se tengan en cuenta los intereses, las necesidades y las prioridades tanto de las mujeres como de los hombres, reconociéndose la diversidad de los diferentes grupos de mujeres y de hombres”.</p>
<p></p>