<h1>¿Qué puedo hacer yo por la equidad de género?</h1>
<p>Para comenzar a hablar de <b>equidad de género</b> es importante comenzar a conocer conceptos básicos que nos ayudarán
a cuestionarnos "¿Cómo estoy contribuyendo a la equidad de género en mi trabajo?</p>

<h2>Conociendo algunos conceptos:</h2>
<dl>
        <dt>Igualdad de género</dt>
        <dd>Según la ONU y la UNESCO se define como “la igualdad de derechos, responsabilidades y
                        oportunidades de las mujeres
                        y los hombres, y las niñas y los niños”. La igualdad, “no significa
                        que las mujeres y los hombres sean lo mismo,
                        sino que los derechos, las responsabilidades y las oportunidades no dependen del sexo con el que nacieron. La
                        igualdad de género supone que se tengan en cuenta los intereses,
                        las necesidades y las prioridades tanto de las mujeres como de los hombres, reconociéndose la diversidad de los
                        diferentes grupos de mujeres y de hombres”.</dd>

        <dt>Igualdad laboral</dt>
        <dd>Es el trato idéntico que un organismo, estado, empresa, asociación, grupo o individuo le brinda a las personas 
                        sin que medie ningún tipo de reparo por la raza, sexo, clase social u otra circunstancia plausible de diferencia o para
                        hacerlo más práctico, es la ausencia de cualquier tipo de discriminación.</dd>

        <dt>Igualdad de oportunidades</dt>
        <dd>Es un concepto que afirma que un sistema socioeconómico es justo cuando todas las
                        personas tienen las mismas
                        posibilidades de acceder al mismo bienestar social y tienen los mismos derechos.</dd>

        <dt>Violencia laboral</dt>
        <dd>Constituida por la negativa ilegal a contratar a la víctima o a respetar su permanencia o condiciones
                        generales de trabajo; la descalificación del trabajo realizado, las amenazas, la
                        intimidación, las humillaciones, la explotación, el impedimento a las mujeres de
                        llevar a cabo el período de lactancia previsto en la ley y todo tipo de
                        discriminación por condición de género, así como el hostigamiento y acoso
                        sexuales.</dd>

        <dt>Perspectiva de Género</dt>
        <dd>Es una visión científica, analítica y política sobre
                        las mujeres y los hombres. Se propone eliminar
                        las causas de la opresión de género como la
                        desigualdad, la injusticia y la jerarquización de
                        las personas basada en el género. Promueve la
                        igualdad entre los géneros a través de la
                        equidad, el adelanto y el bienestar de las
                        mujeres; contribuye a construir una sociedad
                        en donde las mujeres y los hombres tengan el
                        mismo valor, la igualdad de derechos y
                        oportunidades para acceder a los recursos
                        económicos y a la representación política y
                        social en los ámbitos de toma de decisiones</dd>
        <dt>Violencia sexual:</dt>
        <dd>Es cualquier acto que degrada o daña el cuerpo
                        y/o la sexualidad de la Víctima y que por tanto
                        atenta contra su libertad, dignidad e integridad
                        física. Es una expresión de abuso de poder que
                        implica la supremacía de una persona sobre la otra,
                        al denigrarla y concebirla como objeto</dd>
</dl>

<p>Siguiendo la línea de estas definiciones tendríamos que la igualdad de género en la empresa implica que hombres y
                mujeres puedan acceder a las mismas condiciones y derechos laborales.
                Esto supone igualdad en la retribución, en el acceso a la carrera profesional, en la formación, la promoción,
                etc. Además de políticas que salvaguarden la integridad física y psicológica, de cada uno de los integrantes de la empresa u organización,
        así cómo propiciar un ambiente libre de violencia y acoso sexual</p>

<h3>Reflexionemos</h3>
<p>Cotidianamente vivimos y resproducimos prácticas que perpetúan la violencia en sus diferentes tipos y de diferentes maneras.
        Queremos invitarte a reflexionar sobre estas prácticas con el siguiente vídeo, a manera de parodía, toma nota lo aquellas acciones de las que has sido victima
        o de aquellas que crees que has fomentado en alguna ocasión.
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/eTcoxZuuLak" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>