

  <section id="contenedor">

        <section >
           <h1><img id="log-princ"  src="img/LogoPantallaDeInicio.png" ></h1> 
        </section>

        <form class="form-inline">
          <a id="button-signIn" href="#/signIn" class=" ml-2" role="button"><img id="button-signIn" src="img/BotonDeRegistrar.png" ></a>
          <a id="button-login" href="#/login" class="ml-2" role="button"><img id="button-login" src="img/BotonDeIngresar.png" ></a>
         <!--<a id="button-back" href="#/" class="btn btn-light btn-outline-danger btn-sm ml-2" role="button">Regresar</a>  --> 
          
        </form>        
      

  </section>

