
    <section id="txt-user" class="d-flex justify-content-center mt-2">
        <h1><span >Bienvenid@ </span></h1><br>
    </section>
</head>
<body>
    <h1>INTRODUCCIÓN</h1>
    <p>Hace más de una década atrás, en México se viene promoviendo de manera
            independiente y apegada a las leyes que les rigen, el derecho a la igualdad
            laboral y no discriminación en los centros de trabajo. La cultura y las prácticas
            sociales que excluyen o que dan trato desigual a las personas, se reproduce en
            todos los ámbitos de la vida</p>
    <p>La Secretaría del Trabajo y Previsión Social (STPS) a partir del 2009, instrumenta
            la Norma Mexicana NMX-R-025-SCFI-2009 para la Igualdad Laboral entre
            Mujeres y Hombres. El objetivo de esta Norma se estableció con el fin de evaluar
            y certificar las prácticas en materia de igualdad laboral y no discriminación,
            implementadas en los centros de trabajo además de dar cumplimiento a la
            normatividad nacional e internacional en materia de igualdad y no discriminación
            laboral, previsión social, clima laboral adecuado, accesibilidad, ergonomía y
            libertad sindical.</p>
    <p>El INMUJERES implementó el Modelo de Equidad de Género (MEG) en el año
            2003, cuyo objetivo es desarrollar, fomentar e impulsar la igualdad de género
            en las organizaciones, para institucionalizar las políticas de igualdad de género
            y propiciar la igualdad de oportunidades entre mujeres y hombres en el trabajo.</p>
    <p>Estos mecanismos han contribuido a generar una cultura de respeto y
            cumplimiento de la igualdad y no discriminación en el ámbito laboral, sin
            embargo, a pesar de los esfuerzos realizados para salvaguardar los derechos de las y los trabajadores, 
            aún persisten dentro del mercado laboral diversas formas
            de discriminación, las cuales representan obstáculos para el pleno goce de sus
            derechos humanos y laborales. Esta discriminación inhibe el ejercicio igualitario
            de libertades, derechos y oportunidades de las personas, las excluye y las pone
            en desventaja para desarrollar de forma plena su vida.</p>
    <p>De acuerdo con el estudio “Evaluación de Impacto del Modelo de Equidad de Género”1
            realizado en 2013 por el INMUJERES, las organizaciones que han
            implementado el Modelo de Equidad de Género refieren haber obtenido mejoras 
            en el clima laboral, en la comunicación, en la productividad, en la estabilidad del
            personal en sus cargos, así como mayor realización de acciones afirmativas para
            las trabajadoras. Asimismo, la percepción del personal entrevistado es favorable
            en más de 60 % en tópicos como ingreso al empleo, acceso a prestaciones,
            acceso a capacitación e igualdad de remuneración.</p>
    
</body>
   
