
    <section id="txt-user" class="d-flex justify-content-center mt-2">
        <h1><span >Bienvenid@ </span></h1><br>
    </section>
</head>
<body>
    <h1>INTRODUCCIÓN</h1>
    <h3>¿Por qué la igualdad de género es buena para todos, incluso para los hombres?</h3>
        <p>La igualdad de género es el objetivo de muchas luchas que parece que por ahora solo lideran las mujeres.
            Pero, ¿y si te decimos que la igualdad permite ser más felices también a los hombres y aumenta además la productividad laboral? 
            Michael Kimmel, sociólogo experto en estudios de género y autor del libro Angry White Men, nos comenta en una divertida e interesante 
            conferencia del TEDWomen 2015 cómo, además de ser lo justo y correcto, la igualdad de género es una batalla en la que todos ganan: 
            mujeres, hombres, hijos e incluso empresas</p>
        <p>Según la  mayoría de estudios, los países con mayor igualdad también son los que tienen mayores índices de felicidad. 
            Y lo mismo sucede con las empresas, pues cuanto mayor es la igualdad de género en los entornos de trabajo mejor es para los trabajadores,
             que presentan un grado de satisfacción más alto, se ausentan menos y mejoran la productividad.</p>
        <p>Actualmente el ideal de los hombres jóvenes ha cambiado y su objetivo es llevar una vida futura en la que sus esposas o parejas logren triunfar en sus carreras igual que ellos. 
            Sin embargo, según un estudio de Harvard, en los matrimonios se sigue dando prioridad al ascenso del hombre y sólo el 40% de las mujeres asegura estar 
            "muy satisfecha" con su experiencia laboral.</p>
        <p>Como anota Kimmel, los hombres jóvenes de EE.UU. esperan equilibrar trabajo y familia y repartirse equitativamente el desarrollo profesional con sus parejas. 
            Quieren implicarse como padres y que el peso del cuidado de los hijos no recaiga tanto en ellas. Mirando el caso español, 
            comprobamos que muchos hombres jóvenes menores de 25 años no son ni siquiera conscientes de la existencia de la brecha salarial actual. 
            Pero precisamente esos hombres son quienes deben contribuir a que la igualdad gane la batalla y es vital que conozcan datos como que la diferencia entre lo que ganan de 
            promedio los hombres y las mujeres en España superó por primera vez los 500 euros en 2014.</p>
        <p>Tenemos que demostrar a los hombres que la igualdad de género es un juego en el que todos ganamos. No se trata de ayudar a las mujeres en las labores del hogar para lograr la 
            conciliación familiar y laboral deseada, sino que se trata de compartir y de corresponsabilizarse. Cuando los hombres comparten las labores del hogar y de cuidado de los niños, 
            éstos sacan mejores notas y van mejor en la escuela. Con la igualdad conseguimos hijos más felices y saludables, que es ante todo el objetivo de cualquier progenitor. 
            Y no solo favorece a los más pequeños, sino que las mujeres sufren menos depresiones y tienen menos problemas de salud además de sentirse más satisfechas con el matrimonio.</p>
        <p>La igualdad no es solo un estado social que debería perpetuarse, también es una cuestión de salud y bienestar. Y para que las mujeres logren tener más poder y equipararse a 
            los hombres es necesaria también la participación de ellos, porque conseguir equilibrar la balanza de la igualdad es asunto de ambos bandos.</p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/7n9IOH0NvyY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
   
