<section id="register">
    <h1><img id="log-universal"  src="img/LogoBicolor.png" ></h1> 
 </section>

<section id="login-section" class="container hidden mt-4">
    <div class="row">
      <form id="login-form" class="w-50 mx-auto p-3 bg-ligth rounded border border-light border-bottom mt-3">
        <h5>Acceso</h5>
        <div class="form-group">
          <input id="email_sing_in" class="form-control" type="email" name="yourEmail" placeholder="Email">
        </div>
        <div class="form-group">
          <input id="password_sing_in" class="form-control" type="password" placeholder="Contraseña">
        </div>       
        <img id="logIn-button" class="btn-ingreso" src="img/BotonDeIngresarNegro.png" onclick="library.getController().logIn(library.get('login-form'))">
        <a id="button-back" href="#/"  role="button"><img  class="btn-return" src="img/RETURN.png"></a>
      </form>
    </div>
  </section>