<form action="" method="get"> <h1>Responde las siguientes preguntas:</h1>
    <p>La igualdad de género aumenta la productividad en la empresa</p>
    <input type="radio" name="true" class="right">verdadero
    <input type="radio" name="false" class="incorrect">falso

    <p>Se define como: "la igualdad de derechos, responsabilidades y oportunidades de las mujeres y los hombres, y las niñas y los niños"</p>
    <input type="radio" name="" class="incorrect">Igualdad laboral
    <input type="radio" name="" class="right">Igualdad de género
    <input type="radio" name="" class="incorrect">Igualdad de oportunidades

    <p>Es el trato idéntico que un organismo, estado, empresa, asociación, grupo o individuo le brinda a las personas 
        sin que medie ningún tipo de reparo por la raza, sexo, clase social u otra circunstancia plausible de diferencia o para
        hacerlo más práctico, es la ausencia de cualquier tipo de discriminación</p>
    <input type="radio" name="" class="right">Igualdad laboral
    <input type="radio" name="" class="incorrect">Igualdad de género
    <input type="radio" name="" class="incorrect">Igualdad de oportunidades

    <p>Se propone eliminar
        las causas de la opresión de género como la
        desigualdad, la injusticia y la jerarquización de
        las personas basada en el género.</p>
    <input type="radio" name="" class="">Perspectiva de género
    <input type="radio" name="" class="">Igualdad de oportunidades
    
    <p>¿De qué manera puedes contribuir a fomentar la equidad de género en área de trabajo?</p>
    <input type="text" name="answer" id="" placeholder="EScribe tu respuesta">
</form>
